<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176622363718-85d0uo9nstknv2fv00dmsl3tub6p1r7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176622363718-85d0uo9nstknv2fv00dmsl3tub6p1r7m</string>
	<key>API_KEY</key>
	<string>AIzaSyCsdTtwvGz9wLxx4E_PpDzdhTMGm_VvqLk</string>
	<key>GCM_SENDER_ID</key>
	<string>176622363718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mona.MonaHouse</string>
	<key>PROJECT_ID</key>
	<string>monahouse-e451b</string>
	<key>STORAGE_BUCKET</key>
	<string>monahouse-e451b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176622363718:ios:3a49e93ed166179f909647</string>
	<key>DATABASE_URL</key>
	<string>https://monahouse-e451b.firebaseio.com</string>
</dict>
</plist>